HOPSWORKS_API_KEY=your_hopsworks_api_key_here
HOPSWORKS_PROJECT_NAME=Aether
HOPSWORKS_HOST=eu-west.cloud.hopsworks.ai

GEMINI_API_KEY=your_gemini_api_key_here
ELEVENLABS_API_KEY=your_elevenlabs_api_key_here
ELEVENLABS_VOICE_ID=P8NfsqD6Mj2lTFzuAccu
CESIUM_ION_ACCESS_TOKEN=your_cesium_ion_token_here
